body ,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


body {
	font: 20px fantasy;
	color: #2d3c49;
}


header{
	display: flex;
    justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;
	width: 900px;
	height: 150px;
	background-color: #fff;
	border-bottom: 5px solid #7d97ad;
	clear: both;
}


#header-title {
	margin-left: auto;
	text-align: right;
	padding: 20px;
	margin: -10px;
	color: grey;
}


#udacity-view {
	background: center/cover 
   url("../image/center.jpg");
	width: 900px;
	height: 320px;
	margin-top: 10px;
	max-width: 100%;
	text-align: center;	
	line-height: 120px;
	font-size: 2em;
	color: #fff;
	text-shadow: 4px 4px 2px #000;
	vertical-align: middle;
	box-shadow: 4px 4px 4px 0 #888;
}


#udacity-view {
	opacity: 5;
}


.font-ma {
	font-family: "Arial", arial;
}

#content {
	display: flex;
	width: 900px;
	max-width: 100%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.feature-work {
	width: 500px;
	max-width: 100%;
	font-size: 1em;
}

.style-card {
	box-shadow: 2px 2px 1px 0 #02b3e4;
	width: 30%;
	text-align: center;
	margin: 10px;
	padding: 10px;
	display: inline-flex;
	flex-wrap: wrap;
	flex: 1;
}

.style-card:hover {
	background-color: #eee;
}

.chunk img{
	overflow: visible;
	height:200px;
	width: 100%;
	object-fit: fill;
}

.chunk p {
	font-style: italic;
	font-size: 14px;
	width: 100%;
}

.my-link {
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: #953;
}

.my-link:hover {
	color: #832;
}

a {
	color: #864;
	text-decoration: none;
	border-radius: 50%;
}

a:hover {
	color: #852;
	text-decoration: underline;
	box-shadow: 5px 5px 22px #9aa;
}

footer {
	width: 900px;
	max-width: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 23px;
}

footer img {
	width: 30px;
	height: 30px;
}

/* breakpoints */
 {
	#content {
		flex-wrap: wrap;
		text-align: center;
	}

	.style-card {
		min-width: 40%;
		max-width: 50%;
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.chunk p {
		font-size: 1em;
	}

	.chunk img {
		height: 250px;
		object-fit: fill;
	}

	.feature-work {
		font-size: 1em;
	}

}

@media screen and (max-width: 900px) {

	#udacity-view {
		height: 150px;
		font-size: 1em;
		line-height: 150px;
	}


	header {
		display: flex;
		height: 120px;
		background-color: #fff;
		border-bottom: 3px solid #7d97ad;
	}

	#header-title {
		margin: -30px 1px;
		/* margin: 0; */
	}

	.style-card {
		min-width:70%;
	}
	
	.chunk {
		width:100%;
	}

	.chunk img{
		height:250px;
		/* width: 100%; */
		object-fit: fill;
	}

	.chunk p {
		font-size: 1em;
	}

	.feature-work {
		font-size: 1em;
		text-align: center;
	}

}
